<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Auditor Dashboard</title>
	<link rel="stylesheet" th:href="@{/css/styles.css}">
	<link rel="stylesheet" th:href="@{/css/dashboard.css}">
</head>
<body>
    <div class="dashboard-container">
        <h2>Welcome, Auditor!</h2>
        <p>Review invoice history here.</p>

        <div class="dashboard-buttons">
            <a th:href="@{/invoices}">Review Invoices</a>
			<a th:href="@{/invoices/search}">Search</a>

			        </div>
<br>
        <div class="logout-container">
            <form th:action="@{/auth/logout}" method="post" class="logout-form">
                <button type="submit" class="logout-btn">Logout</button>
            </form>
        </div>
    </div>
</body>
</html>
