<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Track Invoice</title>
    <link rel="stylesheet" th:href="@{/css/invoicesTable.css}">
    <link rel="stylesheet" th:href="@{/css/createInvoice.css}">

    
</head>
<body>
    <div class="track-invoice-container">
        <h2>Tracking Invoice #<span th:text="${invoice.id}"></span></h2>
        <h3>Total Amount: <span th:text="${invoice.total} + ' $'"></span></h3>

        <table>
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Item</th>
                    <th>Prev Price</th>
					<th>Curr Price</th>
                    <th>Prev Qty</th>
                    <th>Curr Qty</th>
                    <th>Date</th>
                </tr>
            </thead>
			<tbody>
			    <tr th:each="history : ${historyPage.content}" 
			        th:classappend="${history.action == 'Deleted' or history.action == 'Item Deleted' ? 'deleted' : (history.status ? 'valid' : 'invalid')}">
			        
			        <td th:text="${history.action}"></td>
			        <td th:text="${history.invoiceItem != null ? history.invoiceItem.item.name : '---'}"></td>
			        <td th:text="${history.prevPrice != null ? #numbers.formatDecimal(history.prevPrice, 1, 'COMMA', 2, 'POINT') + ' $' : '---'}"></td>
			        <td th:text="${history.currPrice != null ? #numbers.formatDecimal(history.currPrice, 1, 'COMMA', 2, 'POINT') + ' $' : '---'}"></td>
			        <td th:text="${history.prevQuantity != null ? history.prevQuantity : '---'}"></td>
			        <td th:text="${history.currQuantity != null ? history.currQuantity : '---'}"></td>
			        <td th:text="${#temporals.format(history.createdAt, 'yyyy-MM-dd HH:mm')}"></td>
			    </tr>
			</tbody>

        </table>

        <!-- Pagination Controls -->
        <div class="pagination">
            <a th:if="${historyPage.hasPrevious()}" th:href="@{/invoices/{id}/track(id=${invoice.id}, page=${historyPage.number - 1})}">Previous</a>
            <span>Page <span th:text="${historyPage.number + 1}"></span> of <span th:text="${historyPage.totalPages}"></span></span>
            <a th:if="${historyPage.hasNext()}" th:href="@{/invoices/{id}/track(id=${invoice.id}, page=${historyPage.number + 1})}">Next</a>
        </div>
    </div>
</body>
</html>
